<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="container-login p-4">
    <h2 class="text-white fw-semibold">Registrati</h2>
    <!-- inizio form -->
    <form>
      <!-- nome -->
      <div class="mb-3">
        <label for="name" class="form-label text-light">Nome</label>
        <input type="text" class="form-control rounded-1" id="name" aria-describedby="name">
      </div>
      <!-- cognome -->
      <div class="mb-3">
        <label for="surname" class="form-label text-light">Cognome</label>
        <input type="text" class="form-control rounded-1" id="surname" aria-describedby="surname">
      </div>
      <!-- email -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-light">Email</label>
        <input type="email" class="form-control rounded-1" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label text-light">Password</label>
        <input type="password" class="form-control rounded-1" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn text-light rounded-1">Registrati</button>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label text-light" for="exampleCheck1">Ricordami</label>
      </div>
    </form>
    <p class="text-white-50">Sei già iscritto?&nbsp;<a class="registrati" [routerLink]="['/login']">Accedi</a></p>
    <p class="text-white-50">Questa pagina è protetta da Google reCAPTCHA per garantire che tu non sia un bot.&nbsp;<a href="Javascript:void(0)">Scopri di più</a></p>
  </div>
  </div>
