@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #415fe1;
    font-family: 'Roboto', sans-serif;

}

.container img {
    width: 300px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container a {
 color: white;
 text-decoration: none;
 
}

.container a:hover { 
    color:black;
    

}

.paragrafi {
    margin-left: 10em;
}