.container-fluid{
  background-image: url(../../../assets/img/616d2453e4e2c6b1ad51197a2f00b8c4.jpg);
  background-size: cover;
  height: 100vh;
  }

  .container-login{
  background-color: rgba(0, 0, 0, 0.708);
  width: 25%;
  }

.btn{
  background-color: #e50914;
  width: 100%;

}

.registrati{
  color: white;
  text-decoration: none;
}
