<div class="container-fluid mt-5 container-login">
  <h2 class="text-light mb-3">Login</h2>
  <!-- campo email -->
  <div class="mb-3">
    <label for="staticEmail" class="col-sm-2 col-form-label text-light">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  </div>
  <!-- campo password -->
  <div class="mb-3">
    <label for="inputPassword" class="col-sm-2 col-form-label text-light">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>
  <!-- bottone conferma -->
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Accedi</button>
  </div>
  <hr class="text-light">
  <h4 class="text-light">oppure <a href="">Registrati</a></h4>
</div>
