@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

/* STILE NAV-BAR */

.fistContainerHeader {
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0.5em;
}

.containerHeader img{
    cursor: pointer;
}

nav ul a {
    text-decoration: none;
    color: #191919;
    padding: 1em;
    cursor: pointer;
}

nav ul button {
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
}

/* SECTION HERO */

.bottoneStart{
    cursor: pointer;
}

.heroSection {
    display: flex;
    justify-content: flex-end;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
}

.contentHero {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.contentHero h1 {
    font-size: 6.5em;
    font-weight: 400;
    font-family: 'Spectral', serif;
    margin-bottom: 0;
}

.contentHero h3 {
    font-weight: 100;
    font-size: 1.7em;
    margin-top: 0;
}

.contentHero button{
    background-color: #191919;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 1.5em;
    padding: 8px 45px 8px 45px;
    margin-top: 1em;
}

/* section articoli */

.prova{
    width: 80%;
    margin: 0 auto;
}

.article{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
}

.trending{
    display: flex;
}

.articleContainer{
    width: 300px;
    display: flex;
}

.articleContainer h2{
    margin-top: 0;
    margin-right: 0.5em;
    font-size: 2em;
    color: lightgrey;
}

.articleContainer p{
    margin-top: 0;
}

.articleContainer h3{
    margin-bottom: 0.5em;
}

.verticale{
    display: flex;
    flex-direction: column;
}

.imageRound, .imageSquare{
    display: flex;
    align-items: center;
}

.imageSquare img{
    border-radius: 30%;
    width: 30px;
    margin-right: 0.5em;
}

.imageRound img{
    border-radius: 50%;
    width: 30px;
    margin-right: 0.5em;
}

.primiTreArticoli{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* SECONDA PARTE */

.fineArticoli{
    display: flex;
}

.finale{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.contenitoreArticolo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

.titoloParagrafo{
    margin-bottom: 0.5em;
}

.paragrafoGrey{
    color: lightslategray;
    margin: 0;
}

.dataArticle{
    display: flex;
    align-items: center;
    color: grey;
}

.dataArticle img{
    padding-left: 0.3em;
}

.fakeButton{
    background-color: rgb(242, 236, 236);
    border-radius: 1em;
    margin-left: 0.5em;
    padding: 0.3em;
}

.containerData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verticaleDue{
    display: flex;
    flex-direction: column;
}

.bookmark{
    padding-right: 1.5em;
}