body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.8em;
    line-height: 1.2em;
    background-color: antiquewhite;
}

.container{
    width: 50%;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input{
width: 50%;
}

.form button{
    width: 25%;
    margin-top: 0.5em;
}