@import './partials/variables';
/* NAVBAR */

.hamburger{
    margin-left: 0.5em;
}

.campanella{
    padding: 0.3em;
}

.badgeNav{
    background-color: $principalColor;
}

/* HERO SECTION */

.heroSection{
    background-color: $principalColor;
}

.buttonHero{
    border: none;
    padding: 0.7em 1.2em 0.7em 1.2em;
}

/* SUB SECTION HERO */
.elementSection{
    line-height: 0.5em;
}

.boxIcon{
    padding: 1em;
    background-color: $backgroundIcon;
    i{
        color: $colorIcon;
        padding: 0.3em;
    }
}

/* CARD */
.coloreSfondo{
    background-color: #f5f4f8;
    padding-bottom: 10em;
}

.iconaRete{
    color: $principalColor;
}

.containerUser{
    img{
        width: 40px;
        border-radius: 50%;
    }
}

.containerChevron{
border-radius: 50%;
background-color: #e3dddd;
padding: 0.8em;
z-index: 1;
border: 2px solid white;
margin-top: 2em;

    i{
        padding: 0.3em;
        color: white;
    }
}

/* FOOTER */
 .containerList{
    
    ul li{
        list-style-type: none;
    }
    ul li a{
        text-decoration: none;
    }
 }