@import './partials/variables';
/* NAVBAR */

.hamburger{
    margin-left: 0.5em;
}

.campanella{
    padding: 0.3em;
}

/* HERO SECTION */

.heroSection{
    background-color: $principalColor;
    
    h1{
        color: white;
    }
}

.buttonHero{
    padding: 0.6em 1em 0.6em 1em;
}