@import './partials/variables';
/* NAVBAR */

.hamburger{
    margin-left: 0.5em;
}

.campanella{
    padding: 0.3em;
}

.badgeNav{
    background-color: $principalColor;
}

/* HERO SECTION */

.heroSection{
    background-color: $principalColor;
    
    h1{
        color: white;
    }
}

.buttonHero{
    border: none;
    padding: 0.7em 1.2em 0.7em 1.2em;
}

/* SUB SECTION HERO */
.elementSection{
    line-height: 0.5em;
}

.boxIcon{
    padding: 1em;
    background-color: #ffeeda;
    i{
        color: #c28135;
        padding: 0.3em;
    }
}

